@model Recipe
@{
    ViewData["Title"] = "Details";
}
<div class="text-center">
    <h3>Детайли за рецепта</h3>

    @using (Html.BeginForm("Details", "Recipes", FormMethod.Post))
    {
        <div class="display-field text-uppercase">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
     }
 </div>
