@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Щипка любов</h1>
    <p>Добре дошли в кулинарния свят на "Щипка любов". Тук ще намерите най-различни рецепти и само с щипка любов ще се превърнат в неизменна част от трапезата Ви.</p>
    <button class="myButton" onclick="openFunction()" type="button">Виж рецепти</button>
</div>
    
        <div class="myGallery">
            <div class="myColumn">
                <img src="~/Uploads/logoPic.png" alt="супа" style="width:100%">
            </div>
            <div class="myColumn">
                <img src="~/Uploads/nomNom.png" alt="бисквити" style="width:100%">
            </div>
            <div class="myColumn">
                <img src="~/Uploads/grandma.png" alt="подправки" style="width:100%">
            </div>
        </div>
    