@{
    ViewData["Title"] = "Поверителност";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Тук описваме подробно за политиките, които имаме, при използването на нашия сайт.</p>
    <div>Ако имате някакви препоръки, идеи или коментари, можете да се свържете с нас на имейл адрес: shtipka.lyuibov@obichamdayam.com</div>

</div>
